<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="outer-div">
        <div class="img-div"><img src={{product_image}} height="200" width="280px"></div>
        <div style="text-align: left;"><b>{{product_price}}</b><br>
            {{product_name}}
        </div>
        <div><button class="btn1">BUY NOW</button></div>
        <div><button class="btn2">ADD CART</button></div>
    </div>
</body>

</html>